*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
header h1{
    font-size: 20px;
    margin: 50px 0px 30px 0px;
}
.pads{
    background:lightblue;
    width: 100%;
    display: flex;
}

.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
    text-align: center;
    position: relative;
}
.pads > div .text{
    position: absolute;
    top: 40%;
    left: 35%;
}
.pad1{
    background: #60d394;
}
.pad2{
    background: #d37b60;
}
.pad5{
    background: #a260d3;
}
.pad3{
    background: #cbd360;
}
.pad4{
    background: #6068d3;
}


@keyframes jump0 {
    0% {
      bottom: 0%;
      left: 20%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
  
    100% {
      bottom: 00%;
      left: 80%;
    }
  }
  @keyframes jump1 {
    100% {
      bottom: 0%;
      left: 20%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
  
    0% {
      bottom: 00%;
      left: 80%;
    }
  }
  @keyframes jump2 {
    0% {
      bottom: 100%;
      left: 20%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
  
    100% {
      bottom: 100%;
      left: 80%;
    }
  }

  @keyframes jump3 {
    0% {
      top: 0%;
      left: 60%;
    }
    20% {
        top: 20%;
        left: 40%;
      }
    40% {
      top: 40%;
      left: 60%;
    }
    60% {
        top: 60%;
        left: 40%;
      }
    80% {
    top: 80%;
    left: 60%;
    }
  
    100% {
      top: 80%;
      left: 40%;
    }
  }

  @keyframes jump4 {
    0% {
      bottom: 0%;
      left: 20%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
  
    100% {
      bottom: 00%;
      left: 80%;
    }
  }



  .visual > div{
      position:absolute;
      height: 50px;
      width: 50px;
      border-radius: 50%;
  }